body {
    background-color: #007BFF !important;
}

.btn {
    margin-top: 10px;
}

input.btn.btn-primary {
    border-color: #007BFF;
    border-width: 2px;
    background-color: #fff319;
    color: #007BFF;
    font-weight: bold;
}
input.btn.btn-primary:hover {
    border-color: #fff319;
    border-width: 2px;
    background-color: #007BFF;
    color: #fff319;
    font-weight: bold;
}

#img-poke {

    height: 160px;
    width: 160px;
}

#pokeDetails {
    padding-top: 10px;
    padding-bottom: 10px;
}

#pokeInput {
    max-width: 400px;
    margin:0 auto;
}

div.container.jumbotron {
    padding-top: 30px;
    border-radius: 0px;
    height: 100%;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

input {
    text-align: center;
}

#poke-card {
    max-width: 500px;
    margin: auto;
}

div.card-body {
    padding: 10px;
}

#img-and-stats {
    display: flex;
    margin-bottom: 15px;
}

#type-and-id {
    display: flex;
}

#pokeID {
    text-align: right;
    display: block;
    flex-grow: 1;
    font-size: 18px;
    font-weight: bold;
}

#pokeType {
    display: block;
    background-color: white;
    color: #007BFF;
    font-weight: bold;
    padding: 0px 10px 0px 10px;
    border-radius: 2px;
}

#type-and-id-and-stats {
    display: block;
    flex-grow: 1;
    -webkit-box-flex: 1;
}

#stats {
    display: block;
    text-align: left;
}

.type-heading {
    background-color: white;
    color: #007BFF;
    font-weight: bold;
    padding: 3px 10px 6px 10px;
    border-radius: 2px;
}

.characteristics {
    list-style-type: none;
}

div.statRow {
    display: flex;
    margin: 3px;
}

.statName {
    flex-basis: 0;
    flex-grow: 1;
}

.statBar {
    position: relative;
    flex-basis: 0;
    flex-grow: 2;
    background-color: #c9c9c9;
    border-radius: 5px;
}

div.statBG {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background: white;
    /* transform: scaleX(0.698577); */
    transform-origin: left;
    z-index: 100000;
    color: transparent;
    border-radius: 5px;
}

div.statNum {
    display: block;
    color: #007BFF;
    font-weight: bold;
    padding-left: 4px;
    border-radius: 5px;
    z-index: 200000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

